.mt-1 {
  margin-top: 1em !important;
}

.mb-1 {
  margin-bottom: 3em !important;
}

.signOutButton {
  position: absolute;
  top: 10px; /* Adjusts vertical position */
  right: 10px; /* Adjusts horizontal position */
  color: primary;
  color: black;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.ui.button.floatingButton {
  padding: 0px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: var(--amplify-primary-color);
  color: var(--amplify-secondary-contrast)
}

.ml-3 {
  margin-left: 3em !important;
}


.ui.button.floatingButton:hover {
  background-color: var(--amplify-primary-color)
}

.floatingButton_icon { 
  margin: 0px !important;
  padding: 0px !important;
}

.hide{
  display: none;
}
